@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

$color-output: rgb(123, 204, 166);
$color-background: rgb(231, 196, 231);
$color-input: lightblue;
$height-input: 40px;
$color-footer: rgb(0, 132, 255);
